<div class="container container-pedido">
  <div class="container-fluid">
      <div class="card card-body">
            <p class="fs-3">Cuando quiere recibir el pedido <span class="text-danger">*</span>:</p>

            <!-- RadioButton Antes Posible -->

            <div class="form-check">
              <input class="form-check-input" type="radio" name="opcionRecibirPedido" id="antesPosible" checked (change)="showProgramacion=false">
              <label class="form-check-label fs-4" for="opcionRecibirPedido" >Lo antes posible</label>
            </div>

            <!-- RadioButton Programas Pedido -->

            <div class="form-check">
              <input class="form-check-input" type="radio" name="opcionRecibirPedido" id="" (change)="showProgramacion=true">
              <label class="form-check-label fs-4" for="opcionRecibirPedido">Programar recepción</label>
            </div>

            <!-- FORM Programar Recepcion -->

            <div *ngIf="showProgramacion">
              <form name="formularioFecha" [formGroup]="FormFecha">
                <!-- Fecha de Delivery -->

                <div class="mb-2">
                  <label class="form-label fs-4">Fecha de Delivery <span class="text-danger">*</span></label>
                  <input
                    type="date"
                    class="form-control"
                    min="{{currentDate | date:'yyyy-MM-dd'}}"
                    max="{{maxDate | date:'yyyy-MM-dd'}}"
                    formControlName="fechaDelivery"
                    [ngClass]="{'is-invalid': (FormFecha.controls['fechaDelivery'].touched || submitted) && FormFecha.controls['fechaDelivery'].errors}"
                    >

                  <div *ngIf="(FormFecha.controls['fechaDelivery'].touched || submitted) && FormFecha.get('fechaDelivery')?.hasError('required')" class="text-danger fs-5">
                    Dato Requerido.
                  </div>

                </div>

                <!-- Hora de Delivery -->

                <div>
                  <label class="form-label fs-4">Hora de Delivery <span class="text-danger">*</span></label>
                  <select name="" id="" class="form-select">
                    <option value="" *ngFor="let hora of horarios">{{hora}}</option>
                  </select>
                </div>
              </form>
            </div>
      </div>

      <!-- FORM Dirección -->

      <div class="card card-body">

        <p class="fs-3">Dirección Delivery <span class="text-danger">*</span>:</p>

        <!-- Campo Calle -->
        <form name="FormDireccion" [formGroup]="FormDireccion">
          <div class="form-group">
            <label class="form-label fs-4">Calle<span class="text-danger">*</span></label>
            <input class="form-control" [ngClass]="{'is-invalid': (FormDireccion.controls['calle'].touched || submitted) && FormDireccion.controls['calle'].errors}" type="text" formControlName="calle" placeholder="ej: Av. Colón">

            <div *ngIf="(FormDireccion.controls['calle'].touched || submitted) && FormDireccion.get('calle')?.hasError('required')" class="text-danger fs-5">
              Dato Requerido.
            </div>

            <div *ngIf="(FormDireccion.controls['calle'].touched || submitted) && (FormDireccion.get('calle')?.hasError('minlength') || FormDireccion.get('calle')?.hasError('maxlength'))" class="text-danger fs-5">
              Dato texto, máximo 100 caracteres.
            </div>
          </div>
        <!-- Campo Número Calle -->

        <div>
          <label class="form-label fs-4">Número <span class="text-danger">*</span></label>
          <input class="form-control" type="text" formControlName="nroCalle" [ngClass]="{'is-invalid': (FormDireccion.controls['nroCalle'].touched || submitted) && FormDireccion.controls['nroCalle'].errors}" placeholder="ej: 12345">

          <div *ngIf="(FormDireccion.controls['nroCalle'].touched || submitted) && FormDireccion.get('nroCalle')?.hasError('required')" class="text-danger fs-5">
            Dato Requerido.
          </div>

          <div *ngIf="(FormDireccion.controls['nroCalle'].touched || submitted) && FormDireccion.get('nroCalle')?.hasError('pattern')" class="text-danger fs-5">
            Dato numérico, máximo 5 dígitos.
          </div>

        </div>

        <!-- Campo Ciudad -->

        <div>
          <label class="form-label fs-4">Ciudad <span class="text-danger">*</span></label>
          <select name="" id="" class="form-select">
            <option value="" *ngFor="let ciudad of ciudades">{{ciudad}}</option>
          </select>

        </div>


        <!-- Campo Referencias -->

        <div>
          <label class="form-label fs-4">Referencias</label>
          <textarea class="form-control" name="" id="" cols="4" rows="4" placeholder="Ingrese alguna referencia sobre su pedido" formControlName="referencia" [ngClass]="{'is-invalid': (FormDireccion.controls['referencia'].touched || submitted) && FormDireccion.controls['referencia'].errors}"></textarea>

          <div *ngIf="(FormDireccion.controls['referencia'].touched || submitted) && (FormDireccion.get('referencia')?.hasError('minlength') || FormDireccion.get('referencia')?.hasError('maxlength'))" class="text-danger fs-5">
            Dato texto, máximo 100 caracteres.
          </div>
        </div>
      </form>
      </div>

      <!-- Radio button Pago en Efectivo -->

      <div class="card card-body">
        <p class="fs-3">Seleccionar Forma de Pago <span class="text-danger">*</span>:</p>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcionFormaPago" id=""  (change)="showPagoEfectivo=true" (change)="showPagoTarjeta=false">
          <label class="form-check-label fs-4" for="opcionRecibirPedido">Efectivo</label>
        </div>

        <!-- FORM Efectivo -->

        <!-- Monto en Efectivo -->

        <form name="FormEfectivo" [formGroup]="FormEfectivo">
          <div *ngIf="showPagoEfectivo">
              <label class="form-label fs-4">Monto con el que va a pagar <span class="text-danger">*</span></label>
              <input class="form-control" type="number" (change)="validarEfectivo()" id="montoEfectivo" placeholder="ej: 8900" formControlName="efectivo" [ngClass]="{'is-invalid': (FormEfectivo.controls['efectivo'].touched || submitted) && FormEfectivo.controls['efectivo'].errors}">

              <div *ngIf="(FormEfectivo.controls['efectivo'].touched || submitted) && !validarEfectivo()" class="text-danger fs-5">
                Dato Requerido. Monto Inferior al Total del Carrito.
              </div>
          </div>
        </form>

        <!-- Radio button Pago con Tarjeta -->
          <div class="form-check">
            <input class="form-check-input"type="radio" name="opcionFormaPago" id="" (change)="showPagoEfectivo=false" (change)="showPagoTarjeta=true">
            <label class="form-check-label fs-4" for="opcionRecibirPedido">Tarjeta de Débito / Crédito</label>
          </div>

          <!-- FORM Tarjeta -->

          <div *ngIf="showPagoTarjeta">
            <form name="formularioTarjeta" [formGroup]="FormTarjeta">

              <!-- Número Tarjeta -->

              <div>
                <label class="form-label fs-4">Número <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="nroTarjeta" [ngClass]="{'is-invalid': (FormTarjeta.controls['nroTarjeta'].touched || submitted) && FormTarjeta.controls['nroTarjeta'].errors}" placeholder=" ej: 4234567891234567">

                <div *ngIf="(FormTarjeta.controls['nroTarjeta'].touched || submitted) && FormTarjeta.get('nroTarjeta')?.hasError('required')" class="text-danger fs-5">
                  Dato Requerido.
                </div>

                <div *ngIf="(FormTarjeta.controls['nroTarjeta'].touched || submitted) && FormTarjeta.get('nroTarjeta')?.hasError('pattern')" class="text-danger fs-5">
                  Dato Numérico de 16 dígitos - Tarjeta Visa
                </div>
              </div>

              <!-- Nombre y Apellido Tarjeta -->

              <div>
                <label class="form-label fs-4">Nombre y Apellido <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="nombreTarjeta" [ngClass]="{'is-invalid': (FormTarjeta.controls['nombreTarjeta'].touched || submitted) && FormTarjeta.controls['nombreTarjeta'].errors}" placeholder="ej: Fulano Perez">

                <div *ngIf="(FormTarjeta.controls['nombreTarjeta'].touched || submitted) && FormTarjeta.get('nombreTarjeta')?.hasError('required')" class="text-danger fs-5">
                  Dato Requerido.
                </div>

                <div *ngIf="(FormTarjeta.controls['nombreTarjeta'].touched || submitted) && FormTarjeta.get('nombreTarjeta')?.hasError('pattern')" class="text-danger fs-5">
                  Dato texto, máximo 100 caracteres.
                </div>
              </div>

              <!-- Vencimiento Tarjeta -->

              <div>
                <label class="form-label fs-4">Vencimiento <span class="text-danger">*</span></label>

                <input
                (change)="obtenertodo()"
                type="text"
                placeholder="ej: 10/2024"
                id="mesFecha"
                class="form-control"
                formControlName="vencimiento" [ngClass]="{'is-invalid': (FormTarjeta.controls['vencimiento'].touched || submitted) && FormTarjeta.controls['vencimiento'].errors}"
                >

                <div *ngIf="(FormTarjeta.controls['vencimiento'].touched || submitted) && FormTarjeta.get('vencimiento')?.hasError('required')" class="text-danger fs-5">
                  Dato Requerido.
                </div>

                <div *ngIf="(FormTarjeta.controls['vencimiento'].touched || submitted) && showErrorVencimiento" class="text-danger fs-5">
                  Ingrese Fecha Sin Vencer en Formato 'MM/AAAA' (M = mes y A = año).
                </div>

              </div>

              <!-- Código Tarjeta -->

              <div>
                <label class="form-label fs-4">CVC <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="codigo" [ngClass]="{'is-invalid': (FormTarjeta.controls['codigo'].touched || submitted) && FormTarjeta.controls['codigo'].errors}" placeholder="ej: 123">

                <div *ngIf="(FormTarjeta.controls['codigo'].touched || submitted) && FormTarjeta.get('codigo')?.hasError('required')" class="text-danger fs-5">
                  Dato Requerido.
                </div>

                <div *ngIf="(FormTarjeta.controls['codigo'].touched || submitted) && FormTarjeta.get('codigo')?.hasError('pattern')" class="text-danger fs-5">
                  Dato numérico, ingrese 3 dígitos.
                </div>

              </div>
            </form>
          </div>

      </div>

      <!-- Botones -->

      <div class="btn-container">

        <div class="d-flex justify-content-center">
          <a href="/carrito" class="btn-volver">Volver</a>
        </div>

        <button class="d-flex justify-content-center form-group button-border" [disabled]="!confirmarBtnStatus()" (click)="enviarFormulario()">
          <a  class="btn-ordenar">Confirmar</a>
        </button>

      </div>

  </div>
</div>





